#navigation {
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    border: 1px solid black;
    float: none;

    
}

#navigation li {
    display: inline-block;
    padding-right: 15px;

}

#home-image {
margin-top: 0px;
}

body{
        background: #333;
        color: white;
}